Makefile
*.knit
*.txt
!palette.txt
*.lib
*.exe
*.dll
*.uu
lib/
bin/
include/
trashcan/
release/
__pycache__/
src/ESPECTRO/shell.py
src/ESPECTRO/utils/lyfile.py
src/KVRNEL/LEX/KVR_PRS.c
src/KVRNEL/LEX/KVR_PRS.h
src/KVRNEL/MEM/KVR_COM.c
src/KVRNEL/MEM/KVR_COM.h
src/KVRNEL/MEM/KVR_KLS.c
src/KVRNEL/MEM/KVR_KLS.h
src/TEST.c
KVR.px
src/CHASM/glad/glad.c
src/CHASM/glad/glad.h
rprules.txt
*.stackdump
*.c~
*.png
data/font/*
src/AVTOMAT/IDNT.c
src/AVTOMAT/idntest.c
*.o
*test.c

ffr.h
calout.h

shb7wt


